html,body {
    height:100%;
    padding:0;
    margin:0;
}

#scoreP {
    font-size:40px;

}

#containerBox {
    height:100%;
    width:100%;
}

#inputContainer {
    height:10%;
    width:100%;
    text-align:center;

    position:relative;
    top:10%;
    left:0;
}

input {
    height:50%;
    width:50%;
    font-size:40px;
}

#BTG {
    height:10%;
    width:100%;
    text-align: center;

    position:relative;
    top:20%;
    font-size:30px;
}

#scoreBox {
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:60%;
    width:60%;
    text-align:center;
    font-size:30px;
}